@model PagedList.IPagedList<ProductTrackingSystem.Models.Entity.Product>
@using System.Data.Entity.Core.Objects
@using System.Web.UI.WebControls
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Ürünler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script >
        $(document).ready(function () {
            if ('@TempData["message"]' == "Added") {
                toastr.success('Ürün başarıyla eklendi.', 'Ekleme başarılı!');
            } else if ('@TempData["message"]' == "Edited") {
                toastr.info('Ürün başarıyla düzenlendi.', 'Düzenleme başarılı!');
            } else if ('@TempData["message"]' == "Deleted") {
                toastr.warning('Ürün başarıyla silindi.', 'Silme başarılı!');
            } else if ('@TempData["message"]' == "LoginSuccess") {
                toastr.success('Başarıyla giriş yaptınız.', 'Giriş Başarılı!');
            } 

            @TempData["message"] = "";
        });
    </script>
}

<nav class="navbar navbar-light bg-light mt-1">

    <div class="container">
        <form>
            <div class="input-group">
                @Html.DropDownList("ddlListType",
                    new List<SelectListItem>
                    {
                        new SelectListItem
                        {
                            Text = "Aktif Ürünler",
                            Value = "1",
                            Selected = true
                        },
                        new SelectListItem
                        {
                            Text = "Pasif Ürünler",
                            Value = "2",
                        },
                        new SelectListItem
                        {
                            Text = "Bitişi Yaklaşanlar",
                            Value = "3",
                        },
                        new SelectListItem
                        {
                            Text = "Kullanımı Bitenler",
                            Value = "4",
                        },
                        new SelectListItem
                        {
                            Text = "İlk Yarıda Alınanlar",
                            Value = "5",
                        },
                        new SelectListItem
                        {
                            Text = "Son Yarıda Alınanlar",
                            Value = "6",
                        },
                        new SelectListItem
                        {
                            Text = "Genel Kullanım",
                            Value = "7",
                        },
                        new SelectListItem
                        {
                            Text = "Araştırmaya Yönelik",
                            Value = "8",
                        },
                    }, null, new
                    {
                        @class = "form-control my-sm-0 mr-sm-2 select",
                        @id = "selectListType",
                        @onchange = "changed();",
                        @style = "width: auto;"
                    })

                @Html.DropDownList("ddlMonth",
                    new List<SelectListItem>
                    {
                        new SelectListItem
                        {
                            Text = "Son 1 Ay",
                            Value = "1",
                            Selected = true
                        },
                        new SelectListItem
                        {
                            Text = "Son 2 Ay",
                            Value = "2",
                        },
                        new SelectListItem
                        {
                            Text = "Son 3 Ay",
                            Value = "3",
                        },
                        new SelectListItem
                        {
                            Text = "Son 4 Ay",
                            Value = "4",
                        },
                        new SelectListItem
                        {
                            Text = "Son 5 Ay",
                            Value = "5",
                        },
                        new SelectListItem
                        {
                            Text = "Son 6 Ay",
                            Value = "6",
                        },
                    }, null, new
                    {
                        @class = "form-control mr-sm-2 select",
                        @id = "selectListMonth",
                        @style = "width: 50%;"
                    })
                <button class="btn btn-outline-secondary my-sm-0" type="submit" style="width: 23%;">Listele</button>
            </div>
        </form>

        @using (Html.BeginForm("Index", "Product", FormMethod.Get))
        {
            <div class="input-group">
                @Html.TextBox("searching", ViewBag.CurrentSearching as string, new
                {
                    @class = "form-control mr-sm-2",
                    required = "required",
                    placeholder = "Aranan ürün..",
                    maxlength = 50,
                    oninvalid = "this.setCustomValidity('Bir ürün adı veya şartname adı giriniz!')",
                    oninput = "setCustomValidity('')",
                    onkeypress = "return /[a-z0-9İıçşğüö]/i.test(event.key)",
                    autocomplete = "off"
                })
                <button class="btn btn-outline-secondary my-sm-0" type="submit">Ara</button>
            </div>
        }
    </div>
</nav>

<div class="container table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Ürün Adı</th>
                <th scope="col">Yenileme Tarihi</th>
                <th scope="col">Son Kullanma Tarihi</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4"><h5 style="color:red;">Ürün bulunamadı!</h5></td>
            </tr>
        }
        <tbody id="tblBody">
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.name</td>
                    <td>@product.renovation_date.ToString("dd.MM.yyyy")</td>
                    <td>@(product.expiration_date.ToString("dd.MM.yyyy") != "12.12.9999" ? @product.expiration_date.ToString("dd.MM.yyyy") : "SÜRESİZ")</td>
                    <td><button class="btn btn-outline-info" onclick="OpenDetail(@product.id)">Detay</button></td>
                    <td><a href="@Url.Action("EditProduct", "Product", new {id = @product.id})" class="btn btn-outline-success">Düzenle</a></td>
                </tr>
            }
        </tbody>
    </table>

    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, ddlListType = ViewBag.CurrentListType, ddlMonth = ViewBag.CurrentMonth, searching = ViewBag.CurrentSearching }))
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ürün Detayı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="Preview">
                @*PartialView*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>


@Styles.Render("~/Content/paged")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/index")
@Scripts.Render("~/bundles/toastr")
@Styles.Render("~/Content/toastr")

<script type="text/javascript">
    function OpenDetail(currentId) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Detail", "Product")',
            data: { id: currentId },
            success: function (data) {
                $('#Preview').html(data);
                $('#myModal').modal('show');
            }
        });
    }
</script>