@model PagedList.IPagedList<ProductTrackingSystem.Models.Entity.Product>
@using System.Web.UI.WebControls
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Ürünler";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/css/home.css" rel="stylesheet" type="text/css" />
}

<nav class="navbar navbar-light bg-light mt-1">
    <div class="container">
        <form>
            <div class="input-group">
                <select class="form-control my-sm-0 mr-sm-2 select" id="selectbox" onchange="changed()" style="width: auto;" data-selected="">
                    <option value="0" selected="selected">Aktif Ürünler</option>
                    <option value="1">Pasif Ürünler</option>
                    <option value="2">Bitişi Yaklaşanlar</option>
                    <option value="3">İlk Yarıda Alınanlar</option>
                    <option value="4">Son Yarıda Alınanlar</option>
                    <option value="5">Genel Kullanım</option>
                    <option value="6">Araştırmaya Yönelik</option>
                </select>

                <select class="form-control mr-sm-2 select" id="selectbox2" style="width: 50%;" data-selected="">
                    <option value="1" selected="selected">Son 1 Ay</option>
                    <option value="2">Son 2 Ay</option>
                    <option value="3">Son 3 Ay</option>
                    <option value="4">Son 4 Ay</option>
                    <option value="5">Son 5 Ay</option>
                    <option value="6">Son 6 Ay</option>
                </select>
                <button class="btn btn-outline-secondary my-sm-0" type="submit" style=" width: 23%;">Listele</button>
            </div>
        </form>
        @using (Html.BeginForm("Index", "Product", FormMethod.Get))
        {
            <div class="input-group">
                @Html.TextBox("searching", null, new
                {
                    @class = "form-control mr-sm-2",
                    required = "required",
                    placeholder = "Aranan ürün..",
                    maxlength = 50,
                    oninvalid = "this.setCustomValidity('Bir ürün adı veya şartname adı giriniz!')",
                    oninput = "setCustomValidity('')",
                    onkeypress="return /[a-zA-Z0-9\\s]/i.test(event.key)"
                })
                <button class="btn btn-outline-secondary my-sm-0" type="submit">Ara</button>
            </div>
        }
    </div>
</nav>

<div class="container table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Ürün Adı</th>
                <th scope="col">Yenileme Tarihi</th>
                <th scope="col">Son Kullanma Tarihi</th>
                <th></th>
            </tr>
        </thead>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4"><h5 style="color:red;">Ürün bulunamadı!</h5></td>
            </tr>
        }
        <tbody id="tblBody">
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.name</td>
                    <td>@product.renovation_date.ToString("dd.MM.yyyy")</td>
                    <td>@product.expiration_date.ToString("dd.MM.yyyy")</td>
                    <td><a href="#" class="btn btn-outline-info" onclick="Open(@product.id)">Detay</a></td>
                    <td><a href="#" class="btn btn-outline-success">Düzenle</a></td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ürün Detayı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="Preview">
                @*PartialView*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/index")

<script type="text/javascript">
    function Open(currentId) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Detail", "Product")',
            data: { id: currentId },
            success: function (data) {
                $('#Preview').html(data);
                $('#myModal').modal('show');
            }
        });
    }
</script>